<div class="container" style="margin-top: 160px">
    <div class="row">
      <div class="col-md-4">
        <div class="card h-100">
          <img src="assets/upload.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Create Job Listings</strong></h5>
            <p class="card-text">Create new job listings to advertise your open positions.</p>
            <a href="/uploadJobs" class="btn btn-link">Create Job Listing</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <img src="assets/access.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Access Applications & Offer Interviews</strong></h5>
            <p class="card-text">View and manage job applications and offer interviews to qualified candidates.</p>
            <a href="#" class="btn btn-link">Access Applications &amp; Offer Interviews</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  