<div class="container" style="margin-top: 80px;">
  <h2>Job Listings</h2>
  <div class="row">
    <div class="col-md-6 mb-4" *ngFor="let job of jobs">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ job.jobtitle }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ job.companyname }}</h6>
          <p class="card-text">{{ job.description }}</p>
          <button class="btn btn-info" (click)="showJobDetails(job)">View Job Details</button>
        </div>
      </div>
    </div>
    <div class="col-md-7 mx-auto">
      <div class="card border-primary mb-3" *ngIf="selectedJob">
        <div class="card-body">
          <h5 class="card-title">{{ selectedJob.companyname }}</h5>
          <p class="card-text">{{ selectedJob.description }}</p>
          <ul>
            <li>Industry: {{ selectedJob.industry }}</li>
            <li>Location: {{ selectedJob.location }}</li>
            <li>Job Type: {{ selectedJob.jobtype }}</li>
            <li>Salary: {{ selectedJob.salary | currency: 'GBP' }}</li>
            <li>Required Skills: {{ selectedJob.requiredskills }}</li>
            <li>Required Qualifications: {{ selectedJob.requiredqualifications }}</li>
            <li>Responsibilities: {{ selectedJob.responsibilities }}</li>
            <li>Application Deadline: {{ selectedJob.applicationdeadline | date: 'medium' }}</li>
            <li>Recruiter ID: {{ selectedJob.recruiterid }}</li>
            <li>Date Posted: {{ selectedJob.dateposted | date: 'medium' }}</li>
          </ul>
          <button class="btn btn-primary" (click)="hideJobDetails()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Job pagination">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
        <button class="page-link" (click)="goToPage(currentPage - 1)">Previous</button>
      </li>
      <li class="page-item" *ngFor="let page of pagesArray">
        <button class="page-link" (click)="goToPage(page)" [ngClass]="{ 'active': currentPage === page }">{{ page }}</button>
      </li>
      <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
        <button class="page-link" (click)="goToPage(currentPage + 1)">Next</button>
      </li>
    </ul>
  </nav>
</div>
