<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-light">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a class="navbar-brand" routerLink="/studentHome">Home</a>
        <span class="navbar-brand"></span>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentProfile">Profile</a>
          </li>
          <li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentDashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/jobs">Jobs</a>
          </li>
          <li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 30px;">
  <div class="container pt-4"></div>
</main>
<!--Main layout-->