<div class="container" style="margin-top: 160px">
  <div class="row">
    <div class="col-md-4">
      <div class="card h-100">
        <a [routerLink]="['/jobs']">
          <img src="assets/search.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title"><strong>SEARCH JOBS</strong></h5>
          <p class="card-text">Search for available jobs that match your skills and interests.</p>
          <a [routerLink]="['/jobs']" class="btn btn-link">Search for a job</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <a [routerLink]="['/bookmarks']">
          <img src="assets/bookmark.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title"><strong>BOOKMARKED JOBS</strong></h5>
          <p class="card-text">View and manage your bookmarked jobs for future reference.</p>
          <a [routerLink]="['/bookmarked']" class="btn btn-link">Go to Bookmarked Jobs</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <a [routerLink]="['/applied']">
          <img src="assets/applied.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title"><strong>APPLIED JOBS</strong></h5>
          <p class="card-text">View and manage the jobs you have already applied for.</p>
          <a [routerLink]="['/applied']" class="btn btn-link">Go to Applied Jobs</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
